@media screen and (max-width: 768px){
        .intro{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .violet-box{
            width: 80vw;
            height: 50vh;
            margin-left: 0px;
        }
        .capsule_pic{
            width: 80vw;
            height: 30vh;
        }
        #km{
            align-self: flex-start;
            margin-top: 10px;
        }
        #km:hover{
            box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
            align-self: flex-start;
            background-color: #292929;
            border: none;
            border-radius: 50px;
            width: 170px;
            text-align: center;
            padding: 20px;
            margin-top: 6px;
            text-decoration: none;
            color: white;
            font-weight: 500;
            cursor: pointer;
        }
        #mhbt{
            font-size: 40px;
            font-weight: 500;
            margin-top: 20px;
            width: 270px;

        }
        #about{
            margin: 50px 30px 50px 30px;
            padding: 50px;
        }
        #about h1{
        font-size: 40px;
        }
        #about p{
        font-size: 16px;
        }
    }